//header background image
header {
  margin: 0 auto;
  position: relative;
  width: 100%;
}
.header-image {
  background-image: url(images/header-me.png);
  background-size: cover;
  width: 100%;
  height: 700px;
  transition: 5s;
}

//logo
.logo, #linkdin, #insta, #git {
  background-color: $main-color;
  border: $white-color 8px solid;
  border-radius: 100px;
}
.logo {
  position: fixed;
  height: 150px;
  left: 70px;
  top: -50px;
  width: 150px;
  transition: 3s;
  p {
    color: $white-color;
    font-family: $logo-font;
    font-size: 5em;
    padding-top: 50px;
    padding-left: 26px;
    text-transform: uppercase;
  }
}

//social media links
.social {
  overflow: auto;
  position: fixed;
  top: 10px;
  right: 40px;

}
#linkdin, #insta, #git {
  height: 50px;
  width: 50px;
  background-position: center;
  background-size: 120%;
  float:right;
  transition: 5s;
}
#git img{
  width: 90%;
  margin: 5px 0 0 3px;
}
#insta img, #linkdin img {
  width: 100%;
}
#linkdin img{
  width: 75%;
  padding: 5px 0 0 7px;
}
