$secondary-color:  rgba(173, 204, 239, 1.0);
$p-text: 'Merriweather', serif;
$h2-text: 'nixie one', cursive;
$h1-text: 'Poiret One', cursive;
$main-color: rgba(231, 158, 161, 1.0);
$white-color: white;
$logo-font: 'Baloo Bhaina', cursive;
